[alias]
	co = checkout
        refreshdev = "! deps=$(git branch --merged=develop | grep -v develop | grep -v master | xargs) && if [ -z "$deps" ]; then git co develop && git fetch --prune && git merge origin/develop; else git co develop && git branch -d $deps && git fetch --prune && git merge origin/develop; fi"
        refreshmaster = "! deps=$(git branch --merged=master | grep -v develop | grep -v master | xargs) && if [ -z "$deps" ]; then git co master && git fetch --prune && git merge origin/master; else git co master && git branch -d $deps && git fetch --prune && git merge origin/master; fi"
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%C(yellow)%>|(12)%h %C(blue)%as%C(green) [%>(14,trunc)%an]%C(reset): %s%C(auto)%d\" --graph --all --decorate
	type = cat-file -t
	dump = cat-file -p
	ls = ls-tree -r --name-only
[user]
	name = tongr
	email = tongr@online
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[core]
	autocrlf = input
